<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @video2tag.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @video2tag.string %>
</p>

<%= link_to 'Edit', edit_video2tag_path(@video2tag) %> |
<%= link_to 'Back', video2tags_path %>
