<p id="notice"><%= notice %></p>

<p>
  <strong>Video:</strong>
  <%= @video2tag.video_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @video2tag.tag_id %>
</p>

<%= link_to 'Edit', edit_video2tag_path(@video2tag) %> |
<%= link_to 'Back', video2tags_path %>
